#head1 {
	color: red;
	margin-left: 33%;
}

form {
	margin-left: 30%;
	height: 630px;
	width: 35%;
	border: 5px solid gold;
	background-color: 
}

input [type=text]{
	width: 100%;
	box-sizing: border-box;
}

input{
	width: 23%;
	height: 30px;
	color: lightblue;
	background-color: black; 
	opacity: 0.5;
	padding: 40px; 
	font-family: "Courier New";
	font-size: 30px;
}



